<!DOCTYPE html>

<html>

<head>
    <title>Request Header Parser</title>
    <link rel="shortcut icon"
          href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
          type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="contenido">
    <h2 id="titulo">
        <a name="request-header-parser-microservice" href="#request-header-parser-microservice"></a>
        Request Header Parser Microservice
    </h2>

    <blockquote>
        <p class="info">
            <strong>url:</strong>
            <a href="/api/whoami/">[url_base]/api/whoami/</a>
            <br>
            <strong>Metodo:</strong> GET
        </p>
        <p>
            <strong>Datos de salida:</strong>
        </p>

        <pre class="">
            <code>{
    "<span class="hljs-attribute">ipaddress</span>": <span><span
                        class="hljs-string">"{{ipaddress}}"</span></span>,
    "<span class="hljs-attribute">language</span>": <span><span
                        class="hljs-string">"{{language}}"</span></span>,
    "<span class="hljs-attribute">software</span>": <span><span
                        class="hljs-string">"{{software}}"</span>
</span>}

</code></pre>
    </blockquote>
</div>
</body>

</html>
